
<form method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}" style="display:inline;">
    <button class="btn btn-danger" type="submit">Delete</button>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
</form>