{% extends 'base.html.twig' %}

{% block title %}Edit event{% endblock %}

{% block body %}

    <h1>Edit event</h1>

    {{ include('EVENEMENT/_form.html.twig', {'button_label': 'Update', 'button_class': 'btn btn-primary'}) }}

    <a href="{{ path('app_evenement_index') }}">back to list</a>

{% endblock %}
